<!DOCTYPE html>

<html>
    <head>
        <title>Build-a-blog</title>
        <style>
            .error{
                color: red;
            }
            ul{
                list-style-type: none;
                overflow: hidden;
            }
            li a{
                float:left;
                display: block;
                text-align: center;
                padding: 0px 20px 0px 0px;
            }
        </style>
    </head>
    <body>
        <h1>Mauricio's BL0G</h1>
            <ul>
                <li><h2><a href = "/">Home     </a></h2></li>
                <li><h2><a href = "/blog"> Latest   </a></h2></li>
                <li><h2><a href = "/newpost"> New Post </a></h2></li>
            </ul>
        {%block content %}
        {% endblock %}


    </body>
</html>
